<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form class="form-inline my-2 my-lg-0" action="" method="get">
        {% if user.is_authenticated %}
        <ul class="navbar-nav mr-auto">
    <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          User logged in as:{{request.user}}
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/logout/" >logout</a>
        </li>
  </ul>
  
  {% else %}
        <button type="button" class="btn btn-primary mx-2" data-toggle="modal" data-target="#register">
  Register
  </button>
  <button type="button" class="btn btn-primary " data-toggle="modal" data-target="#login">
  Login
  </button>
  {% endif %}
  
      </form>
</body>
</html>