<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>LOGIN</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<style>

.btn{
  border: 2px solid black;
  text-decoration: none;
  background-color: grey;
  color: black;
}

.first{
  margin-left: 400px;
}

.second{
  margin-left: 600px;
}
</style>
  </head>
  <body>
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            <strong>{{message}}</strong>

        </div>
    {% endfor %}
    
    <form action="" method="post">
      {% csrf_token %}



        {% if user.is_authenticated %}

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">Home</span></a>
        </li>
        <li>
          <a class="nav-link" href="subscriptions/">Subscriptions</span></a>
        </li>
        <li>
        <a class="first" >LOGGED IN AS-{{request.user.username}}</a>
        </li>
        <li>
         <a class="second" href="logouthandle/">Logout</a> 
         </li>
       </ul> 
  </div>
</nav>

    
          {% else %}
          <label for="uname" >REGISTERED EMAIL:</label>
      <input type="text" name="email" id="email" placeholder="enter registered email" required><br><br>

      <label for="pass" >Password:</label>
      <input type="password" id="pass" name="pass" placeholder="password" required><br>
      <br>

      <input type="submit" name="login" value="Login">
<br><br><br>
           {% endif %}

    </form>

  </body>
</html>
